# 出力画像と、それらが格納されたディレクトリまるごと
result1.png
result2.png
result3.png
edges.png
img.png
img_underline.png
img_OCR.png
img_OCR_paddle.png
img_OCR_paddle_color.png

/cropped
/results
/data

/sample/P

/__pycache__

# 学習モデルと訓練データ、テストデータ、分かち書き後のデータ
photolize.bin
test_fasttext.txt
train_fasttext.txt
*.tsv
/bert/models/
/bert-wiki-ja/*
!/bert-wiki-ja/bert_finetuning_config_v1.json

# Llama2 の学習データ
Llama/models/*

# Llama2 の APIキーを保存した .env ファイル
/.env
