Tesseract-OCR/* linguist-detectable=false
MeCab/* linguist-detectable=false
fastText/* linguist-detectable = false
bert-wiki-ja/* linguist-detectable=false

*.html linguist-detectable=false
*.cc linguist-detectable=false
*.h linguist-detectable=false
*.js linguist-detectable=false
*.sh linguist-detectable=false
*.pl linguist-detectable=false
*.css linguist-detectable=false